<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="">
      <mat-icon>favorite</mat-icon>
      <span>Popular</span>
    </button>
    <button mat-menu-item routerLink="trending">
      <mat-icon>whatshot</mat-icon>
      <span>Trending</span>
    </button>
    <button mat-menu-item routerLink="comingsoon">
      <mat-icon>date_range</mat-icon>
      <span>Coming Soon</span>
    </button>
    <button mat-menu-item routerLink="nowplaying">
      <mat-icon>theaters</mat-icon>
      <span>Now Playing</span>
    </button>
    <button mat-menu-item routerLink="search">
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </button>
  </mat-menu>
  <span class="example-spacer"></span>
  <img src="../../assets/Free_Sample_By_Wix (2).jpg" alt="logo">
</mat-toolbar>

