<mat-toolbar>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="">
      <mat-icon>favorite</mat-icon>
      <span>Popular</span>
    </button>
    <button mat-menu-item routerLink="trending">
      <mat-icon>whatshot</mat-icon>
      <span>Trending</span>
    </button>
    <button mat-menu-item routerLink="comingsoon">
      <mat-icon>date_range</mat-icon>
      <span>Coming Soon</span>
    </button>
    <button mat-menu-item routerLink="nowplaying">
      <mat-icon>theaters</mat-icon>
      <span>Now Playing</span>
    </button>
  </mat-menu>
  <span class="example-spacer"></span>
  <div class="container">
    <input type="text" placeholder="Search..." [(ngModel)]="movieName">
    <button mat-stroked-button (click)="getResults()">Search</button>
  </div>
</mat-toolbar>