h1{
    text-align: center;
}
.container{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
input{
    height:30px;
    width: 200px;
}
.col{
    text-align: center;
    padding: 3%;
}
mat-card{
    width: 300px;
    margin: 2% auto;
    transition: all .2s ease-in-out
    
}
mat-card:hover{
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 5px 20px 1px rgb(168, 168, 168), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12)!important;
}
mat-card:hover img{
    transition: .2s ease;
    opacity: 0.2;
}
img{
    width: 300px;
    margin: 0;
    padding: 0;
}
h2{
    color: darkred;
}
.text{
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 0;
    text-align: center;
    font-size: 18px;
    margin: 10%;
}

mat-card:hover .text{
    opacity: 1;
}


@media screen and (max-width: 1400px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 1050px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }
}

@media screen and (max-width: 650px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
}